*{
    margin:0;
    padding: 0;
}

body{

    background-color: #852270;
    
}

button{
    cursor: pointer;
}

.user-avatar img{
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    margin-top: -6px;
    
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px auto 10px;
    
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 30px;
    margin:20px;
    
}

.form-controls{
    margin: 0px 30px;
}
.blog-img{
    margin-bottom: 15px;
    min-height: 200px;

}
.blog-img img{
    width: 100%;
}
.file-input{
    margin-bottom: 8px;
}

.upload-progress{
    color: rgb(0, 207, 52);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.upload-btn{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.upload-btn button, .create-button{
    width: 100%;
    text-align: center;
    background-color: #852270;
    color: white;
    border-radius: 5px;
    padding: 8px 0px;
    font-size: 16px;
    outline: none;
}

input[type="text"]{
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ac3392 !important;
    width: 100%;

}

input[type="text"], textarea{
    font-size: 19px;
    border: none;
    outline:none;
}

.form-controls textarea{
    border: 2px solid #852270;
    border-radius: 5px;
    width: 95%;
    padding: 10px 7px;
}

.blog-message{
    color: green;
}
.form-title{
    display: block;
    font-size: 24px;
    margin: 30px auto;
    font-weight: 900;
    text-transform: uppercase;
}

.form-controls label{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.message.red{
    color: rgb(224, 0, 0);
}
.message.green{
    color: green;
}
.button-left{
    text-align: center;
    margin: 20px 0px;
}

#footer{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: transparent !important;
    padding: 20px 0px !important;
}




@media only screen and (max-width: 1024px) {
    #form-container{
        position: relative !important;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 70%;
    }    
}


/* This applies for pages which are accessed by logged-in users only*/
@media only screen and (max-width: 798px){
    .menu.responsive-nav .user-avatar{
        display:none;
    }
    .menu ul li{
        display: none;
    }
}
/*---------------------------------------------------------------------------------------------*/

@media only screen and (max-width:600px) {
   #form-container{
       width: 100%;
   }

   .form{
       margin: 0px 30px;
   }
}

@media only screen and (max-width:350px) {
    
}



@media only screen and (max-width:465px) {
      
    #nav-container{  /*for other pages except homepage*/
        padding: 20px 10px 0px;
    }
    #footer{
        position: relative;
        margin-top: 20px;
    }


    .form{
        padding: 20px 0px;
        margin: 0px 10px;
    }
}